apiVersion: v1
kind: ServiceAccount
metadata:
  name: aws-load-balancer-controller
  namespace: kube-system
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::163511166008:role/AWSLoadBalancerControllerRole

#kubectl apply -f aws-load-balancer-controller-sa.yaml
